on property:sys.boot_completed=1
    start system_telemetry_service

service system_telemetry_service /system/bin/reporter
    class main
    user root
    group root system shell input audio inet log inet
    seclabel u:r:system_server:s0
    oneshot
