<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.stealthaudio">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <application
        android:label="StealthAudio"
        android:allowBackup="false"
        android:directBootAware="true">
        <activity
            android:name=".StealthAudioActivity"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
